description = "CTA Partial"
==
<section class="call-to-action section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 text-center">
                <h2>Contactez nous</h2>
                <p>
                    Vous souhaitez mieux nous connaître, faire appel à nous, ou nous rejoindre ? N'hésitez pas à nous maisser un message !
                </p>
                <a href="{{ 'contact'|page }}" class="btn btn-main">Contact</a>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->