description = "Slider Partial"
==
<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area" style="background-image: {{ 'assets/images/slider/slider-bg-1.jpg'|theme }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">
                        Band'Aqui
                    </h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">
                        La Banda de Lanton
                    </p>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
                        href="#nous">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area" style="background-image: {{ 'assets/images/slider/slider-bg-2.jpg'|theme }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">
                        La Banda de Lanton <br>
                    </h1>
                    <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">
                        Sur le Bassin d'Arcachon
                    </p>
                    <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
                        href="#nous">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="nous" class="mt-20">&nbsp;</div>