description = "Footer Partial"
==
<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <h3>LA BAND'AQUI</h3>
                    <p>La Banda de Lanton (33 138),</p>
                    <p>sur le Bassin d'Arcachon.</p>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <ul>
                        <li>
                            <h3>Partenaires</h3>
                        </li>
                        <li><a href="https://fr-fr.facebook.com/remy.begassat.9">Photos : Remy Begassat</a></li>
                        <li><a href="https://www.mairie-lanton.fr/">Mairie de Lanton</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
                    <ul>
                        <li>
                            <h3>Liens du site</h3>
                        </li>
                        <li><a href="{{ 'about'|page }}">Infos</a></li>
                        <li><a href="{{ 'contact'|page }}">Contact</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-lg-3 col-md-6">
                    <ul>
                        <li>
                            <h3>Réseaux sociaux</h3>
                        </li>
                        <li><a href="https://player.vimeo.com/video/177958012">Vimeo</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

            </div>
        </div> <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>&copy; Copyright 2021 BANDAQUI.</h5>
        <h6>Thème conçu et développé par <a href="https://themefisher.com/">Themefisher</a></h6>
    </div>
</footer> <!-- end footer -->