description = "Header Partial"
==
<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
    <div class="container">
        <!-- main nav -->
        <nav class="navbar navbar-expand-lg navbar-light px-0">
            <!-- logo -->
            <a class="navbar-brand logo" href="{{ 'index'|page }}">
                <img loading="lazy" class="logo-default" src="{{ 'assets/images/logo.png'|theme }}" alt="logo" />
                <img loading="lazy" class="logo-white" src="{{ 'assets/images/logo-white.png'|theme }}" alt="logo" />
            </a>
            <!-- /logo -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto text-center">
                    {% for item in staticMenu.menuItems %} 
                    <li class="nav-item {% if item.isActive %}active{% endif %}">
                        <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <!-- /main nav -->
    </div>
</header>
<!--
End Fixed Navigation
==================================== -->