title = "Photos"
url = "/photos"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Dlp\Events\Models\Event"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% partial 'site/sp-header' %}


{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}



<section class="portfolio section-sm" id="portfolio">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Les photos des derniers événements</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, veritatis. Lorem ipsum dolor
                        sit amet, consectetur adipisicing elit. Minima, vitae?
                    </p>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="portfolio-filter">
                    <button type="button" data-filter="all">Toutes</button>
                    {% for record in records %}
                    <button type="button" data-filter="{{record.name}}">{{record.name}}</button>
                    {% endfor%}
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="filtr-container">
                            {% for record in records %}
                        {% for image in record.gallery %}
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="{{record.name}}">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{image.thumb(400,200,{'mode':'crop'})}}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{image.thumb(1200,800,{'mode':'crop'})}}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor%}
                        {% endfor%}
                        </div>
                    </div>
                </div>
            </div> <!-- /end col-lg-12 -->
        </div> <!-- end row -->

    </div> <!-- end container -->
</section> <!-- End section -->>