title = "Privé"
url = "/prive"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "accueil"

[builderList]
modelClass = "Dlp\Events\Models\Event"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "evenement"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==

<?php
use  Dlp\Events\Models\Event;

function onStart()
{
$this['events'] = Event::where('time_begin', '>=', now())->orderBy('time_begin','desc')->take(5)->get();
$this['oldevents'] = Event::where('time_end', '<', now())->orderBy('time_begin','asc')->take(5)->get();


}
?>
==

{% component 'session' %}{% partial 'site/sp-header' %}


<section class="team" id="team">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center ">
                    <h2>Les prochains événements</h2>
                    <h4>
                        Inscrivez vous !
                    </h4>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>
        <div class="row">
            {% for record in events %}
            
            <!-- team member -->
            <div class="col-lg-4 col-md-6">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img loading="lazy" class="img-fluid" src="{{ record.poster.thumb(1170,880, {'mode':'crop'}) }}"
                            alt="Poster">
                        <!-- /member photo -->
                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li><a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"><i class="tf-ion-ios-search-strong"></i></a></li>
                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3><a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{{ record.name }}</a></h3>
                       <p> à
                            {% for location in record.locations %}
                            <a href="/lieu/{{location.slug}}">{{location.name}}</a>
                            {% endfor%}
                        
                            le {{ record.time_begin|frenchDate('%e %B %Y') }} {{record.description|raw}}
                        </p>
                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <!-- end team member -->
            {% else %}
            <li class="no-data">{{ noRecordsMessage }}</li>
        {% endfor %}

        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->


<section class="service-2 section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Vos outils</h2>
                    <p>Retrouvez ici vos partitions, les dernières nouvelles de la bandas, les cartes pour vous rendre aux prochains événements ...</p>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="row text-center">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <a href="/partitions"><i class="tf-ion-ios-book-outline"></i></a>
                            <h4>Partitions</h4>
                            <p>Accédez aux partitions pour votre instrument, ainsi qu'à la liste actuelle des séries.</p>
                        </div>
                    </div><!-- END COL -->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <a href="/messages"><i class="tf-ion-ios-information-outline"></i></a>
                            <h4>Messages</h4>
                            <p>Prenez connaissance des dernières nouvelles de la Banda, et apportez vos propres commentaires.</p>
                        </div>
                    </div><!-- END COL -->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <a href="/lieux"><i class="tf-ion-ios-navigate-outline"></i></a>
                            <h4>Lieux et cartes</h4>
                            <p>Accédez aux informations sur les différents lieux fréquentés par la Banda, avec les cartes.</p>
                        </div>
                    </div><!-- END COL -->

                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->


<section class="team" id="team">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center ">
                    <h2>Les événements passés</h2>
                    <p>
                        Avec les photos !
                    </p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>
        <div class="row">
            {% for record in oldevents %}
            
            <!-- team member -->
            <div class="col-lg-4 col-md-6">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img loading="lazy" class="img-fluid" src="{{ record.poster.thumb(1170,880, {'mode':'crop'}) }}"
                            alt="Meghna">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li><a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"><i class="tf-ion-ios-search-strong"></i></a></li>
                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>{{ record.name }}</h3>
                        <span>
                            {% for location in record.locations %}
                            <a href="/lieu/{{location.slug}}">{{location.name}}</a>,
                            {% endfor%}
                        </span>
                        <p>
                            {{ record.description |raw }}
                        </p>
                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <!-- end team member -->
            {% else %}
            <li class="no-data">{{ noRecordsMessage }}</li>
        {% endfor %}

        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->
